﻿@model HelloSignW9API.Models.Winner

<br />

<div class="border container" style="padding: 30px;">
    <form method="post" asp-action="Create">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Name">Full name:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger mb-2"></span>
            <br />
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger mb-2"></span>
           

            <div class=" form-group row">

                <div class="col mt-2">
                    <button type="submit" class="btn btn-primary form-control">Add new record</button>
                </div>
                <div class="col mt-2">
                    <a asp-action="Index" class="btn btn-success form-control">Back to list</a>
                </div>

            </div>


        </div>
    </form>
</div>

@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
}