﻿
@{
    ViewData["Title"] = "Index";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #afe8f1;">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Karrot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse ">
                <ul class="navbar-nav ml-auto">                    
                    <li class="nav-item">
                        <a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Privacy">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<br />

<div class=" container row p-0 m-0">

    <div class="col-4 mb-5 mr-0 ml-0" >
        <a asp-action="Create" asp-controller="Winners" class="btn btn-info form-control text-white">
            Add new record
        </a>
    </div>
    <br />

    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                   
                    <th></th>
                </tr>
            </thead>
        </table> 

    </div>

</div>

@section Scripts{ 
<script src="~/js/winnerList.js"></script>
}