﻿@model HelloSignW9API.Models.Winner

@{
    ViewData["Title"] = "Update";
}

<div class="border container mt-5" style="padding: 30px;">
    <form method="post" asp-action="Update">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="SignId" />
            <input type="hidden" asp-for="Adress" />
            <input type="hidden" asp-for="City" />
            <input type="hidden" asp-for="Date" />
        }

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">


            <div class="form-group row">

                <div class="col-3">
                    <label asp-for="Email">Email:</label>
                </div>
                <div class="col-6">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger mb-2"></span>
                </div>

            </div>

            <div class="form-group row">

                <div class="col-3">
                    <label asp-for="Name">Name:</label>
                </div>
                <div class="col-6">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger mb-2"></span>
                </div>

            </div>

            <div class="form-group row">

                <div class="col-3">
                    <label asp-for="Adress">Adress:</label>
                </div>
                <div class="col-6">
                    <input asp-for="Adress" class="form-control" disabled />
                    <span asp-validation-for="Adress" class="text-danger mb-2"></span>
                </div>

            </div>

            <div class="form-group row">

                <div class="col-3">
                    <label asp-for="City">City:</label>
                </div>
                <div class="col-6">
                    <input asp-for="City" class="form-control" disabled />
                    <span asp-validation-for="City" class="text-danger mb-2"></span>
                </div>

            </div>

            <div class="form-group row">

                <div class="col-3">
                    <label asp-for="Date">Date:</label>
                </div>
                <div class="col-6">
                    <input asp-for="Date" class="form-control" disabled />
                    <span asp-validation-for="Date" class="text-danger mb-2"></span>
                </div>

            </div>


            <div class=" form-group row">

                <div class=" mt-2 mr-2">
                    <a asp-action="Index" class="btn  btn-outline-info  form-control">Back to list</a>
                </div>

                <div class=" mt-2">
                    <button type="submit" class="btn btn-info float-right form-control">Download W9 Form</button>
                </div>


            </div>


        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}