﻿@model HelloSignW9API.Models.User
@{
    ViewData["Title"] = "Login";
}



<div class="text-center mt-5 mb-5">
    <img src="~/img/logo.jpg" style="width: 50%" />
</div>



@using (Html.BeginForm())
{

<div id="loginContainer" class="container border p-3">

    <div class="form-group">
        <label asp-for="Email">Email:</label>


        <input asp-for="Email" class="form-control" />


        <span asp-validation-for="Email" class="text-danger mb-2"></span>

        <br />

        <label asp-for="Password">Password:</label>
        <input asp-for="Password" class="form-control" />

        <span asp-validation-for="Password" class="text-danger mb-2"></span>

        <br />

        <input type="submit" value="Login" class="btn btn-info text-white" />


        <br />
        @ViewBag.ErrorMessage

    </div>

</div>
}
